{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}GEARS DYNAMICS{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'pools/css/style_main.css' %}">
</head>
<header class="header">
    <img src="{% static 'pools/svg/gear-custom.svg' %}" class="icon">
    <h1 class="Name">GEARS DYNAMICS</h1>
    <div class="headers1">
        <span class="headers">Создание</span>
        <div class="headers_hover"><p class="headers_content">
            <img src="{% static 'pools/jpg/ангар.jpg' %}" alt="" width="330">
            Компания была основана в 2002 году тремя коллегами по цеху:
            Мэтвэй Энтонич, Бибо Бибыч, Женя РОВНЫЙ. Предприятие до 2008 года представляло из себя деревенский подвал
            (числен. рабочих 15 чел.), до 2015 года - околомкадный гараж (числен. рабочих 30 чел.), а сейчас -
            подмосковный ангар.
            (числен. рабочих 300 чел.)</p>
        </div>
    </div>
    <div class="headers2">
        <span class="headers">Деятельность</span>
        <div class="headers_hover"><p class="headers_content"><img src="{% static 'pools/jpg/шестерни.jpg' %}" alt="" width="330">
            Компания занимается производством зубчатых колёс, реек,
            червячных пар точно по всем требованиям и чертежу клиента в соответствии с ГОСТ и международными
            стандартами.</p>
        </div>
    </div>
    <div class="headers3">
        <span class="headers">Партнёры</span>
        <div class="headers_hover">
            <ul class="headers_links">
                <img src="{% static 'pools/jpg/Данил.jpg' %}" alt="" height="250" width="200">
                <li><a href="https://vk.com/7gamess" class="link">Главный прораб соседней стройки</a></li>
                <img src="{% static 'pools/jpg/Богдан.jpg' %}" alt="" height="250" width="200">
                <li><a href="https://vk.com/direkc" class="link">Богом данный фитнес-тренер</a></li>
            </ul>
        </div>
    </div>
</header>
{% block body %}
    <body class="body_content">
    <div class="products">
        <div class="gears1">
            <a href="/gears/" style="color: #050a00;">Зубчатые передачи</a>
            <img src="{% static 'pools/gif/Gears_animation.gif' %}" alt="" height="300">
        </div>
        <div class="gears2">
            <a href="/rack_neck/" style="color: #050a00;">Реечные передачи</a>
            <img src="{% static 'pools/gif/Rack_and_pinion_animation.gif' %}" alt="" height="300">
        </div>
        <div class="gears3">
            <a href="/worm_gears/" style="color: #050a00;">Червячные передачи</a>
            <img src="{% static 'pools/gif/Worm_Gear.gif' %}" alt="" height="300">
        </div>
    </div>
{% endblock %}
</body>
<footer class="footer">
    <h1 class="footer_name">Контакты основателей:</h1>
    <img src="{% static 'pools/svg/gear-custom.svg' %}" class="footer_logo">
    <p class="rights">GEARS DYNAMICS, 2023, Все права нагло скомммуниженны</p>
    <div class="matvey">
        <h2>Мэтвэй Энтонич</h2>
        <img src="{% static 'pools/jpg/Матвей.jpg' %}" alt="" height="235" width="188">
        <div class="under_matvey">
            <a href="tel:89995850739">8-(999)-585-07-39</a>
            <form action="https://t.me/matwill_00">
                <button class="button_tg">
                    <img src="{% static 'pools/svg/telegram-custom.svg' %}" class="icon_tg">
                </button>
            </form>
        </div>
    </div>
    <div class="bebo">
        <h2>Бибо Бибыч</h2>
        <img src="{% static 'pools/jpg/Бибо.jpg' %}" alt="" height="235" width="188">
        <div class="under_bebo">
            <a href="tel:89094852739">8-(909)-485-27-39</a>
            <form action="https://t.me/abanoob">
                <button class="button_tg">
                    <img src="{% static 'pools/svg/telegram-custom.svg' %}" class="icon_tg">
                </button>
            </form>
        </div>
    </div>
    <div class="zheka">
        <h2>Женя РОВНЫЙ</h2>
        <img src="{% static 'pools/jpg/Женя.jpg' %}" alt="" height="235" width="188">
        <div class="under_zheka">
            <a href="tel:89194852729">8-(919)-485-27-29</a>
            <form action="https://t.me/eugene0377">
                <button class="button_tg">
                    <img src="{% static 'pools/svg/telegram-custom.svg' %}" class="icon_tg">
                </button>
            </form>
        </div>
    </div>
</footer>
</html>

