
.header {
    background: #557338;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.footer {
    color: #35f306;
    position: relative;
    top: 300px;
    background: #050a00;
    height: 400px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.body_content {
    background: #35f306;
    height: 100%;
    width: 100%
}

.icon {
    height: 100px;
    width: 100px;
}

.icon_tg {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.Name {
    top: 20px;
    position: relative;
    cursor: default;
    font-family: serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    color: #35f306;
}

.headers1 {
    display: block;
    width: 15px;
    height: 15px;
    color: white;
    position: relative;
    left: 60px;
    top: 50px;
    padding: 2px 1px 7px 11px;
    cursor: pointer;
}

.headers2 {
    display: block;
    width: 15px;
    height: 15px;
    color: white;
    position: relative;
    top: 50px;
    left: 330px;
    padding: 2px 1px 7px 11px;
    cursor: pointer;
}

.headers3 {
    display: block;
    width: 15px;
    height: 15px;
    color: white;
    position: relative;
    top: 50px;
    left: 670px;
    padding: 2px 1px 7px 11px;
    cursor: pointer;
}

.headers_hover {
    display: none;
    width: 300px;
    height: 100%;
}

.headers1:hover .headers_hover {
    display: block;
    position: relative;
    left: -60px;
    z-index: 2;
    top: -32px;
}

.headers2:hover .headers_hover {
    display: block;
    position: relative;
    left: -40px;
    z-index: 2;
    top: -32px;
}

.headers3:hover .headers_hover {
    display: block;
    position: absolute;
    z-index: 2;
    width: 250px;
    left: -30px;
    top: -10px;
    padding: 100% 0;
}

.headers {
    position: relative;
    cursor: pointer;
    font-family: serif;
    font-style: normal;
    display: inline-block;
    transition: transform .8s ease-in-out;
    color: #35f306;
    font-weight: 400;
    font-size: 40px;
}

.headers_content {
    width: 330px;
    top: 30px;
    position: relative;
    cursor: pointer;
    font-family: serif;
    font-style: normal;
    font-size: 20px;
    color: #35f306;
    background-color: #050a00;
    border-radius: 0 0 2% 2%;
}

.link {
    font-family: serif;
    font-style: normal;
    color: #35f306;
    font-weight: 300;
    font-size: 20px;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    color: #35f306;
}

a:hover {
    border-bottom: 1px solid;
    background: #557338;
}

.headers_links {
    width: 230px;
    top: 30px;
    position: relative;
    cursor: pointer;
    font-family: serif;
    font-style: normal;
    font-size: 20px;
    color: #35f306;
    background-color: #050a00;
    border-radius: 0 0 2% 2%;
}

.products {
    color: #050a00;
    display: flex;
    flex-flow: row nowrap;
}

.gears1 {
    position: relative;
    top: 130px;
    font-family: serif;
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    flex-flow: column;
}

.gears2 {
    position: relative;
    top: 130px;
    left: 230px;
    font-family: serif;
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    flex-flow: column;
}

.gears3 {
    position: relative;
    top: 130px;
    left: 400px;
    font-family: serif;
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    flex-flow: column;
}

.footer_name {
    position: relative;
    top: -20px;
}

.matvey {
    position: relative;
    top: 20px;
    left: -300px;
    display: flex;
    flex-flow: column;
}

.under_matvey {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    font-size: 20px;
}

.button_tg {
    background-color: #050a00;
}

.bebo {
    position: relative;
    top: 20px;
    left: -120px;
    display: flex;
    flex-flow: column;
}

.under_bebo {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    font-size: 20px;
}

.zheka {
    position: relative;
    top: 20px;
    left: 50px;
    display: flex;
    flex-flow: column;
}

.under_zheka {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    font-size: 20px;
}

.footer_logo {
    position: absolute;
    right: 10px;
    bottom: 30px;
    width: 300px;
    height: 300px;
}

.rights {
    position: absolute;
    right: 15px;
    bottom: 1px;
}
